 img{
        object-fit: contain;
        
    }
    section{
        /* background-color: red; */
        padding: 40px 0;
    }
    h1{
        font-size: 50px;
    }
    .hero-banner-area img:nth-child(1){
        position: relative;
    }
    .hero-banner-area img:nth-child(2){
        position: absolute;
        top:10%;
        left: 120px;

    }
    .hero-banner-area img:nth-child(3){
        position: absolute;
        top:35%;
        left:30px;
    }
    .hero-banner-area img:nth-child(4){
        position: absolute;
        top:10%;
        right: 40px;
    }
    .hero-banner-area img:nth-child(5){
        position: absolute;
        top: 50%;
        right:30px;
    }
    .hero-banner-area img:nth-child(6){
        position: absolute;
        top:75%;
        left: 100px;
    }
    .hero-banner-area .box{
        position: relative;
        width: 100%;
        /* border: 2px solid brown; */
    }